<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="listing[title]"
          value="<%= listing.title %>"
          required
        />
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Please provide a title</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="listing[description]"
          rows="3"
          required
        ><%= listing.description %></textarea>
        <div class="valid-feedback">Description looks good</div>
        <div class="invalid-feedback">Please provide a description</div>
      </div>

      <!-- Image (STRING input) -->
      <div class="mb-3">
        Original listing image <br />
        <img src="<%= originalImageUrl %>"/>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input name="listing[image]" type="file" class="form-control" />
      </div>

      <!-- Price -->
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="listing[price]"
          value="<%= listing.price %>"
          required
        />
        <div class="valid-feedback">Price looks good</div>
        <div class="invalid-feedback">Please enter a valid price</div>
      </div>

      <!-- Country -->
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          class="form-control"
          id="country"
          name="listing[country]"
          value="<%= listing.country %>"
          required
        />
        <div class="valid-feedback">Country looks good</div>
        <div class="invalid-feedback">Please enter a valid country</div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="listing[location]"
          value="<%= listing.location %>"
          required
        />
        <div class="valid-feedback">Location looks good</div>
        <div class="invalid-feedback">Please enter a valid location</div>
      </div>

      <button type="submit" class="btn btn-dark mt-3">Edit</button>
    </form>
  </div>
</div>